@{
    ViewBag.Title = "Servicios";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center;">Sala de masajes</h2>
        <p>
            <img src="http://www.hotelvangogh.pe/wp-content/uploads/2017/12/IMG_5930-Editar.jpg" width="350" height="250" /><br /> <br />

            Disfruta de un momento de paz y placer en nuestra sala de masajes. Después de una rutina larga de trabajo o simplemente para relajarse.
            El servicio de nuestra sala de masajes está incluido en el precio de la habitación.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Reservar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center;">Sala de reuniones</h2>
        <p>
            <img src="http://www.hotelvangogh.pe/wp-content/uploads/2017/11/IMG_5941-Editar.jpg" width="350" height="250" /><br /> <br />

            Nuestra sala de reuniones cuenta con un proyector e internet WiFi para un uso eficiente y cómodo.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Reservar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center;"> Restaurante</h2>

        <p>
            <img src="http://www.hotelvangogh.pe/wp-content/uploads/2018/02/IMG-20180112-WA0003.jpg" width="350" height="250" /><br /> <br />
            Atendemos en nuestro restaurante – Bar de 7:30am a 1:00pm y de 5:30 a 9:00pm
            «Porque su comodidad es nuestra mayor satisfacción»
            Reservas al : 044-578196 / 966717585
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Reservar &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2 style="text-align:center;"> Gimnasio</h2>

        <p>
            <img src="http://www.hotelvangogh.pe/wp-content/uploads/2017/11/IMG_5923-Editar.jpg" width="350" height="250" /><br /> <br />
            No deje que la tensión se apodere de su vida, una rutina de ejercicios, piscinas climatizadas, cámaras de vapor, cómodas y lujosas cabinas en el Spa, tratamientos exclusivos  son nuestra propuesta para hacer un cambio en sus días.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Reservar &raquo;</a></p>
    </div>



</div>



