@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.8718899004107!2d-79.04832368567354!3d-8.11452449415841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3da0e81d3275%3A0x54179394dc4562ac!2sHotel+Van+Gogh!5e0!3m2!1ses!2spe!4v1529804874255" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


<address>
    Av. América Oeste Mz. J Lt. 11<br />
    Urb. Covicorti - Trujillo<br />
    <abbr title="Phone">Telef.:</abbr>
    966717585 - (044)431060
</address>




<address>
    <strong>Administración:</strong>   <a href="mailto:reservas@hotelvangogh.pe">reservas@hotelvangogh.pe </a><br />
    <strong>Soporte:</strong> <a href="mailto:k.alvarezm7@gmail.com">k.alvarezm7@gmail.com</a>
</address>
